In [16]:
import pandas as pd

In [17]:
df = pd.read_csv(r"D:\Projects\British Airways\customer_booking.csv",encoding='latin-1')

In [18]:
pd.set_option('display.max.rows',10)
pd.set_option('display.max.columns',10)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   num_passengers         50000 non-null  int64
 1   sales_channel          50000 non-null  object
 2   trip_type              50000 non-null  object
 3   purchase_lead          50000 non-null  int64
 4   length_of_stay         50000 non-null  int64
 5   flight_hour            50000 non-null  int64
 6   flight_day             50000 non-null  object
 7   route                  50000 non-null  object
 8   booking_origin         50000 non-null  object
 9   wants_extra_baggage    50000 non-null  int64
 10  wants_preferred_seat   50000 non-null  int64
 11  wants_in_flight_meals  50000 non-null  int64
 12  flight_duration        50000 non-null  float64
 13  booking_complete       50000 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.3+ MB

In [20]:
df.shape

(50000, 14)

In [21]:
df.head(10)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,...,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262,19,...,1,0,0,5.52,0
1,1,Internet,RoundTrip,112,20,...,0,0,0,5.52,0
2,2,Internet,RoundTrip,243,22,...,1,1,0,5.52,0
3,1,Internet,RoundTrip,96,31,...,0,0,1,5.52,0
4,2,Internet,RoundTrip,68,22,...,1,0,1,5.52,0
5,1,Internet,RoundTrip,3,48,...,1,0,1,5.52,0
6,3,Internet,RoundTrip,201,33,...,1,0,1,5.52,0
7,2,Internet,RoundTrip,238,19,...,1,0,1,5.52,0
8,1,Internet,RoundTrip,80,22,...,0,0,1,5.52,0
9,1,Mobile,RoundTrip,378,30,...,0,0,0,5.52,0

In [22]:
df.tail(10)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,...,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
49990,1,Internet,RoundTrip,12,6,...,0,0,0,5.62,0
49991,1,Internet,RoundTrip,8,6,...,0,1,0,5.62,0
49992,1,Internet,RoundTrip,14,6,...,1,0,0,5.62,0
49993,1,Internet,RoundTrip,19,6,...,1,0,0,5.62,0
49994,2,Internet,RoundTrip,25,6,...,0,0,0,5.62,0
49995,2,Internet,RoundTrip,27,6,...,1,0,1,5.62,0
49996,1,Internet,RoundTrip,111,6,...,0,0,0,5.62,0
49997,1,Internet,RoundTrip,24,6,...,0,0,1,5.62,0
49998,1,Internet,RoundTrip,15,6,...,1,0,1,5.62,0
49999,1,Internet,RoundTrip,19,6,...,0,1,0,5.62,0

In [23]:
df.loc[:,'flight_duration']

0        5.52
1        5.52
2        5.52
3        5.52
4        5.52
         ...
49995    5.62
49996    5.62
49997    5.62
49998    5.62
49999    5.62
Name: flight_duration, Length: 50000, dtype: float64

In [24]:
df.loc[2]

num_passengers                   2
sales_channel             Internet
trip_type                RoundTrip
purchase_lead                  243
length_of_stay                  22
                           ...
wants_extra_baggage              1
wants_preferred_seat             1
wants_in_flight_meals            0
flight_duration               5.52
booking_complete                 0
Name: 2, Length: 14, dtype: object

In [25]:
df.iloc[9]

num_passengers                   1
sales_channel               Mobile
trip_type                RoundTrip
purchase_lead                  378
length_of_stay                  30
                           ...
wants_extra_baggage              0
wants_preferred_seat             0
wants_in_flight_meals            0
flight_duration               5.52
booking_complete                 0
Name: 9, Length: 14, dtype: object